/* Don't forget about removing the <style> in the HTML file for the image */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* For testing */
    /* background-color: lightslategray; */
}

/* Header Section */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 16px 200px 16px 100px;
    background-color: #1f2937;
    color: white;
    /* padding-bottom: 500px; */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav a {
    color: #a7a7a7;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.2s ease;
}

.nav a:hover {
    color: white;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 80px; */
    background-color: #1f2937;
    color: white;
    padding: 80px 200px 125px 100px;
}

.hero-text {
    max-width: 455px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 50px;
}

.hero-text p {
    font-size: 18px;
    color: #bcbcbc;  
    margin-bottom: 20px;
}

.hero-text button {
     background-color: #3882f6;
     color: white;
     border: none;
     padding: 10px 28px;
     border-radius: 8px;
     font-size: 18px;
     cursor: pointer;
}

.hero-image img{
    width: 500px;
    height: 220px;
    background-color: #6b7280;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information Section */
.info-section {
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 0 60px 80px;
    /* justify-content: center; */
    align-items: center;
}

.info-section h2 {
    /* background-color: pink; */
    font-size: 38px;
    padding: 35px 0;
    font-weight: bold;
}

.info-boxes {
    /* background-color: aquamarine; */
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    gap: 40px;
}

.illustration {
 height: 175px;
 border: 4px solid #3882f6; 
 border-radius: 8px;
 /* background-color: black; */
 margin-bottom: 10px;
}

.info-boxes p{
    /* background-color: purple; */
    align-content: center;
    color: gray;
    font-weight: 600;
}

.box {
    max-width: 180px;
}

/* Quote Section */
.quote-section {
    /* align-content: center; */
    color: #1f2937;
    /* max-width: 800px; */
    display: flex;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    background-color: #e5e7eb;
}

blockquote{
    max-width: 1200px;
    text-align: left;
    padding: 100px 200px;
    font-size: 36px;
    /* max-width: 800px; */

    line-height: 1.4;
    font-style: italic;
    /* max-width: 800px; */
}
cite {
    display: block;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

/* --CTA SECTION-- */
.cta-section {
    background-color: #3882f6;
    padding: 20px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 150px;
}

.cta-text {
    padding: 26px 50px;
}

.cta-text h3{
    color: white;
    font-size: 24px;
    margin-bottom: 4px;
}

.cta-text p {
    color: #e5e7eb;
    font-size: 18px;
   
}

.cta-button {
    display: inline;
    cursor: pointer;
    background-color: #3882f6;
    /* background-color: purple; */
    color: white;
    font-weight: 600;
    padding: 10px 30px;
    font-size: 18px;
    margin-right: 50px;
    border: 2px solid white;
    border-radius: 8px;
    /* transition: background 0.2s ease, color 0.2s ease; */
    /* transition: background 0.2s ease, color 0. 2s ease; */
    transition: background 0.2s, color 0.2s ease;
}

.cta-button:hover {
  background-color: white;      /* White fill on hover */
  color: #3882f6;                 /* Blue text on hover */
}


/* Footer Section */
footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 30px 0;
}