/* Don't forget about removing the <style> in the HTML file for the image */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Header Section */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 16px 200px 16px 100px;
    background-color: #1f2937;
    color: white;
    /* padding-bottom: 500px; */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav a {
    color: #a7a7a7;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 80px; */
    background-color: #1f2937;
    color: white;
    padding: 80px 200px 125px 100px;
}

.hero-text {
    max-width: 455px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 50px;
}

.hero-text p {
    font-size: 18px;
    color: #bcbcbc;  
    margin-bottom: 20px;
}

.hero-text button {
     background-color: #3882f6;
     color: white;
     border: none;
     padding: 10px 28px;
     border-radius: 8px;
     font-size: 18px;
     cursor: pointer;
}

.hero-image img{
    width: 500px;
    height: 220px;
    background-color: #6b7280;
    display: flex;
    justify-content: center;
    align-items: center;
}